@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nfl-navy: #013369;
  --nfl-red: #D50A0A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nfl-navy: var(--nfl-navy);
  --color-nfl-red: var(--nfl-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  nav,
  .date-range-filter,
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
}
